	/* Main */
	.center {
		text-align: center;
	}
	/* Body of webpage has a navy background colour and white text */
	body {
		font-family: Lora;
		font-size: 15px;
		color: #ffffff;
		background-color: #131d27;
	}
	/* CSS for the banner at the top of the page */
	.banner {
		text-align: center;
		height: 35px;
		padding-top: 5px;
		background-color: #131d27;
		color: #ffffff;
		font-size: 15px;
		width: 100%;
		font-family: Lora;
	}
	/* Increase banner height when width of screen is less than 480px */
	@media (max-width: 480px) {
		.banner {
			height: 50px;
		}
	}
	.logo-heading {
		background-color: #ffffff;
	}
	.logo {
		width: 90%;
		height: 90%;
		padding: 5px;
	}
	/* Position of the searchbar */
	.searchbar{
		position: relative;
		bottom: 5px;
		right: 5px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.form-inline {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	h1 {
		font-family: Cinzel, serif;
		font-size: 46px;  
		padding: 20px;
		color: #ffffff;
	}
	/* Navbar background colour */
	.navbar {
		background-color: #131d27;
	}
	.dropdown-menu {
		text-align: left;
	}
	/* Create a grey line under the Navbar */
	.navbar-border {
		border-bottom: 3px solid #8F8F8F;
	}
	/* Create a grey line above the start of the Navbar */
	.footer {
		border-top: 3px solid #8F8F8F;
		margin-top: 25px;
	}
	/* Padding around the footer when screen size is smaller than 480px */
	@media (max-width: 480px) {
		.footer {
			padding: 3px;
		}
	}
	/* Social media icons size in a white colour */
	svg {
		padding: 5px;
		fill: #ffffff;
		width: 60px;
		height: 60px;
	}
	/* Social media icons turn to grey when mouse hovers over */
	svg:hover {
		fill: #737373;
	}
	/* Index page */
	#carouselWithCaptions .carousel-item img {
		object-fit: cover;
		object-position: center;
		height: 100%;
		width:100%;
		overflow: hidden;
		display: block;
	}
	/* Create gradient on carousel images, so that there is more contrast between text and image */
	#carouselWithCaptions .carousel-item:before {
		content: "";
		background-image: linear-gradient(#000000,2%,transparent);
		display: block;
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
	}
	/* Image height is 70% of view height */
	.carousel-item {
		height: 70vh;
		max-height: 70vh;
	}
	.carousel-height {
		width: 100%;
		height: auto;
	}	
	/* Size of the collection images on Index page */
	.collections-image {
		max-width: 100%;
		max-height: 700px;
		padding: -5px;
		display: block;
	}
	/* Buttons on top of the collection images */
	.collections-button {
		position: absolute;
		bottom: 2%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: #C94100;
		color: white;
		font-size: 16px;
		padding: 6px 12px;
		border: none;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		width: 325px;
		font-family: Lora;
	}
	/* Colour of button when mouse hovers over it */
	.collections-button:hover, .slide-1-button:hover {
		background-color: #953000;
	}
	.carousel-caption{
		top: 0;
		bottom: auto;
	}
	.carousel-text-light {
		font-family: Lora;
		font-size: 36px; 
		color: #ffffff;
		padding: 0px;
		margin-bottom: 0em;
	}
	/* Reduce the space between h5 element in the Index page */
	.indexh5 {
		margin-top: 0em;
	}
	.carousel-item-next, .carousel-item-prev, .carousel-item.active {
		display: block !important;	
		}
	/* Slide 1 text position */
	.slide-1-text {
		text-align: center;
		top: -15px;
	}
	/* Slide 2 text position */
	.slide-2-text {
		text-align: left;
		top: 20px;
		left: 100px;
	}
	/* Slide 3 text position */
	.slide-3-text {
		text-align: center;
		top: -20px;
	}
	.slide-button {
		position: absolute;
		background-color: #C94100;
		transform: translate(-50%, -5%);
		-ms-transform: translate(-50%, 5%);
		color: white;
		font-size: 16px;
		padding: 3px 6px;
		border: none;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		width: 250px;
		font-family: Lora;
		margin-top: 0px;
	}

	/* Our Story */
	.edi-image {
		width: 100%;
		height: auto;
	}
	.os-container {
		max-width: 95%;
		max-height: auto;
		margin: 0 auto;
	}

	/* Sign In and Register */
	.orange-button {
		background-color: #C94100;
		text-align: center;
		color: #ffffff;
		margin: 5px;
		width: 95%;
		height: 40px;
	}
	.orange-button:hover {
		background-color: #953000;
	}
	.white-button {
		background-color: #F0F0F0;
		color: #131d27;
		margin: 5px;
		width: 95%;
		height: 40px;
	}
	/* Form that has a box around as a border */
	.sign-in-form, .register-form, .no-account {
		width: 70vw;
		margin: 0 auto;
		max-width: 500px;
		min-width: 300px;
		border: 3px solid #ffffff;
		padding: 10px;
	}
	.bottom-space {
		margin-bottom: 10px;
	}
	.forgot-password {
		color: #ffffff;
		text-align: center;
	}
	.form-group {
		margin: 15px;
		text-align: left;
	}
	.form-left {
		text-align: left;
		margin: 0 15px;
	}
	.border{
		border: -1px solid #ffffff;
		margin: 0px;
	}

	/* Contact Us */
	.accordion {
		background-color: #131d27;
		color: #ffffff;
		cursor: pointer;
		padding: 10px;
		width: 100%;
		border: 1px solid #ffffff;
		text-align: left;
		outline: none;
		font-size: 20px;
		transition: 0.4s;
	}
	.active, .accordion:hover {
		background-color: #6C6C6C;
	}
	.accordion:after {
		content: '\002B';
		color: #ffffff;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}
	.active:after {
		content: "\2212";
	}
	.panel {
		padding: 0 18px;
		background-color: #131d27;
		color: #ffffff;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
	.contact-image {
		max-width: 35%;
		height: auto;
		margin-bottom: 15px;
	}
	.contact-container {
		max-width:45%;
		margin: 0 auto;
	}
	/* When screen sixe is less than 468px, the container is only 85% of the screen width size */
	@media (max-width: 468px){
		.contact-container{
			max-width: 85%;
		}
	}

	/* Mens Watches, Ladies Watches and Sale */
	.card-title {
		font-weight: bold;
	}
	.card-body, .card-title {
		text-align: center;
		color: #000000;
	}
	.card-title:hover {
		background-color: primary;
		color: primary;
	}
	.red-text {
		color: #E90000;
	}
	.navy-text {
		color: #131d27;
	}
	.crossout {
		text-decoration: line-through;
	}
	/* Create a round button with an arrow image */
	#goToTopBtn {
		  display: none; /* Hidden by default */
		  position: fixed; /* Fixed/sticky position */
		  bottom: 20px; /* Place the button at the bottom of the page */
		  right: 30px; /* Place the button 30px from the right */
		  z-index: 99; /* Make sure it does not overlap */
		  border: none; /* Remove borders */
		  outline: none; /* Remove outline */
		  background-color: #ffffff; /* Set a background color */
		  color: #131d27; /* Text color */
		  cursor: pointer; /* Add a mouse pointer on hover */
		  padding: 15px; /* Some padding */
		  border-radius: 50px; /* Rounded corners */
		  font-size: 30px; /* Increase font size */
	}

	#goToTopBtn:hover {
		background-color: #555; /* Add a dark-grey background on hover */
	}
	